*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
}

b{
    color: rgb(51, 47, 42);
}

p{
    text-align: center;
}

button{
    border: none;
}

svg{
    margin: 0 auto;
    display: block;
    fill: red;
    margin-bottom: 5px;
}

/* =========================================== */

body{
    background-color: rgb(0, 183, 255);
}

main{
    padding: 50px 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;


    text-align: center;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: inherit;
    z-index: 10;

    box-shadow:5px 5px 10px rgb(0, 132, 184);
}

.form-wrap{
    display: inline-block;
    position: relative;
    z-index: 0;

    border-radius: 10px;
    overflow: hidden;
}

input{
    height: 30px;
    width: 300px;
    padding-left: 5px;
    border: none;
    opacity: 0.9;
}

input:focus{
    outline: none;
}

button{
    position: absolute;
    top: 1;
    right: 5;
    z-index: 1;

    background-color: transparent;
    height: 100%;
    cursor: pointer;
}

button svg{
    fill: rgb(0, 0, 90);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.gallery-wrap{
    margin-top: 30px;

    width: 400px;
    height: 340px;

    overflow: hidden;
    transform-origin: bottom left;

    border-radius: 20px;

    background-color: transparent;

    box-shadow: 5px 5px 10px rgb(0, 132, 184) ,
    -5px -5px 10px rgb(72, 203, 255);
    cursor: pointer;
}

.gallery-wrap:hover,
.gallery-wrap:focus{
    animation: card 1000ms linear;
}

.gallery-wrap img{
    height: 270px;
    margin-bottom: 10px;
}

.info{
    display: flex;
    justify-content: space-around;
}

.heart{
    fill: rgb(165, 0, 0);
}
.eye{
    fill: rgb(0, 100, 0);
}
.bubble{
    fill: rgb(129, 129, 129);
}
.download{
    fill: black
}

/* button{
    width: 50px;
    height: 50px;

    background-color: rgb(0, 183, 255);
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(0, 132, 184) ,
    -5px -5px 10px rgb(46, 196, 255);
}

button:hover{
    animation: shadow 200ms ease-in-out;
}

@keyframes shadow {
    0%{
        box-shadow: inset 5px 5px 10px rgb(0, 132, 184),
        inset -5px -5px 10px rgb(46, 196, 255);;
    }
    100%{
        box-shadow: none;
    }
} */

@keyframes card {
    0% {
      transform: translateY(0) rotate(0);
    }
    8% {
      transform: translateY(-6%) rotate(-6deg);
    }
    16% {
      transform: translateY(0) rotate(0);
    }
    24% {
      transform-origin: bottom right;
      transform: translateY(-3%) rotate(3deg);
    }
    31% {
      transform: translateY(0) rotate(0);
    }
    40% {
      transform-origin: bottom left;
      transform: translateY(-1%) rotate(-1deg);
    }
    48% {
      transform-origin: bottom right;
      transform: translateY(0) rotate(0);
    }
  }